.accordeon__header{
    width: 1000px;
    height: 1000px;
    background-color: gray;
}
.accordion__content{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    display: none;
}
.accordeon__header:hover .accordion__content{
    display: block;
}