body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.title-text{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.accordion__item {
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%);

}
.accordion__content{
    display: none;
}
.accordion__item:hover .accordion__content{
    display: block;

}
.accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    color: #fff;
    content: "";
    font-weight: 500;
    background-color: gray;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.accordion__header::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    transition: transform 0.2s ease-out;

}
.accordion__header:hover {
    background-color: #0b5ed7;
    overflow: hidden;
}
@media screen and (max-width:568px){
    body {
        margin: 0;
        font-size: 1rem;
        font-weight: 250;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color: #fff;
    }
    .title-text{
        font-family: 'Arial Narrow';
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
    }
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    .accordion__item {
        margin-bottom: 0.5rem;
        border-radius: 0.25rem;
        box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%);

    }
    .accordion__content{
        display: none;
    }
    .accordion__item:hover .accordion__content{
        display: block;

    }
    .accordion__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 1rem;
        color: #fff;
        content: "";
        font-weight: 300;
        background-color: gray;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        cursor: none;
        transition: background-color 0.2s ease-out;
    }

    .accordion__header::after {
        flex-shrink: 0;
        width: 1.25rem;
        height: 1.25rem;
        margin-left: auto;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: 1.25rem;
        content: "";
        transition: transform 0.2s ease-out;

    }
}
@media screen and (max-width:1180px){
    body {
        margin: 0;
        font-size: 1rem;
        font-weight: 250;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color: #fff;
    }
    .title-text{
        font-family: 'Georgia';
        font-weight: bold;
        font-size: 22px;
        line-height: 32px;
    }
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    .accordion__item {
        margin-bottom: 0.5rem;
        border-radius: 0.25rem;
        box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%);

    }
    .accordion__content{
        display: none;
    }
    .accordion__item:hover .accordion__content{
        display: block;

    }
    .accordion__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 1rem;
        color: #fff;
        content: "";
        font-weight: 350;
        background-color: gray;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        cursor: none;
        transition: background-color 0.2s ease-out;
    }

    .accordion__header::after {
        flex-shrink: 0;
        width: 1.25rem;
        height: 1.25rem;
        margin-left: auto;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: 1.25rem;
        content: "";
        transition: transform 0.2s ease-out;

    }
}
